/* .board {
  width: 100%;
  height: 100%;
} */

/* .sketch {
  width: 100%;
  height: 100%;
  cursor: crosshair;
} */

#canvas {
  background-color: rgba(255, 255, 255, 0.8);
}

.btns-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 5%;
  width: 450px;
  margin: 0 auto;
  margin-top: 5px;
}

#clear-btn {
  cursor: pointer;
  padding: 5px;
  width: 130px;
  background-color: #c63131;
  color: #f8f8f8;
  outline: none;
  border: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  margin: 2px;
}

#clear-btn:active {
  background-color: #942424;
}

.undo-redo {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

#board-name {
  padding: 5px;
  border: none;
  background-color: #dcdcdc9e;
}

#board-name:focus {
  outline: none;
  border: none;
}
