/* .board {
  width: 100%;
  height: 100%;
} */

/* .sketch {
  width: 100%;
  height: 100%;
  cursor: crosshair;
} */

#canvas {
  background-color: rgba(255, 255, 255, 0.8);
}

.btns-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 500px;
  height: 50px;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 10px;
  z-index: 1;
}

#clear-btn {
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: rgba(233, 207, 122, 0.8);
  color: #f8f8f8;
  outline: none;
  border: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  margin: 2px;
  transition: 0.3s ease;
}

#clear-btn:hover {
  background-color: rgba(233, 207, 122, 1);
}

#clear-btn:active {
  background-color: rgba(201, 153, 6, 1);
}

.undo-redo {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

#board-name {
  padding: 7px;
  border: none;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

#board-name:focus {
  outline: none;
  border: none;
}

#share-btn {
  font-size: 30px;
  cursor: pointer;
  color: rgba(233, 207, 122, 0.8);
  transition: 0.3s ease;
}

#share-btn:hover {
  color: rgba(233, 207, 122, 1);
}

#share-btn:active {
  color: rgba(201, 153, 6, 1);
}

.copy-popup {
  background: whitesmoke;
  padding: 20px;
  position: absolute;
  top: 40px;
  left: 80%;
  opacity: 0;
  transition: 500ms ease;
}

.copy-popup.active {
  opacity: 1;
  transition: 500ms ease;
}

#copy-popup-btn {
  padding: 5px;
  margin-top: 10px;
  color: white;
  background: rgba(233, 207, 122, 1);
  outline: none;
  border: none;
  cursor: pointer;
}

#copy-popup-btn:active {
  background: rgba(201, 153, 6, 1);
}

#copy-input {
  border: none;
  outline: none;
  padding: 10px;
}
