/* .board {
  width: 100%;
  height: 100%;
} */

/* .sketch {
  width: 100%;
  height: 100%;
  cursor: crosshair;
} */

#canvas {
  background-color: rgba(255, 255, 255, 0.8);
}

#btns-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 400px;
  height: 50px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0px 12px 0px 12px;
  margin-top: 10px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
}

#clear-btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  margin: 2px;
  transition: 0.2s ease;
}

#clear-btn:hover {
  color: white;
  background-color: rgba(65, 150, 161, 0.5);
}

#clear-btn:active {
  color: white;
  background-color: rgba(65, 150, 161, 1);
}

#board-name {
  padding: 7px;
  border: none;
  background-color: rgb(242, 242, 242);
}

#board-name:focus {
  outline: none;
  border: none;
}

#share-btn {
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s ease;
}

#share-btn:hover {
  color: rgba(65, 150, 161, 0.5);
  transition: 0.2s ease;
}

#share-btn:active {
  color: rgba(65, 150, 161, 1);
}

.copy-popup {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: absolute;
  top: 40px;
  left: 80%;
  opacity: 0;
  transition: 500ms ease;
}

.copy-popup.active {
  opacity: 1;
  transition: 500ms ease;
}

#copy-input {
  border: none;
  outline: none;
  padding: 10px;
}

#presentation-btn {
  position: absolute;
  overflow: unset;
  font-size: 30px;
  bottom: 3%;
  right: 3%;
  color: white;
  background: rgba(65, 150, 161, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

#presentation-btn:hover {
  /* transform: scale(0.95); */
  background: rgba(65, 150, 161, 1);
}

#presentation-btn:active {
  background: rgba(65, 150, 161, 1);
}

.connected-users {
  position: absolute;
  padding: 10px;
  right: -50%;
  top: 8%;
  z-index: 1;
  width: 150px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.3);
  transition: 800ms ease;
}

.connected-users.active {
  right: 0;
  transition: 800ms ease;
}

#users-icon {
  position: absolute;
  z-index: 1;
  top: 2%;
  right: 3%;
  font-size: 30px;
  transition: 0.3s ease;
  background: rgba(65, 150, 161, 0.5);
  color: white;
  border-radius: 50%;
  padding: 10px;
}

#users-icon:hover {
  background: rgba(65, 150, 161, 1);
  cursor: pointer;
}
