@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

html,
body {
    font-family: "Raleway", sans-serif;
}

.login-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1300px;
    height: 770px;
    margin: 0 auto;
    margin-top: 5%;
    -webkit-box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.41);
    box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.41);
}

.login-container-left {
    background-color: #f8f8f8;
    padding: 30px;
}

#login-header-h2 {
    color: #999999;
}

#email-input {
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
    background-color: #fff !important;
    display: block;
    outline: none;
    border: none;
    font-family: "Raleway", "sans-serif";
}

#password-input {
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: #fff !important;
    display: block;
    outline: none;
    border: none;
    font-family: "Raleway", "sans-serif";
}

.login-container-right {
    padding: 30px;
    background: linear-gradient(
        180deg,
        rgba(65, 150, 161, 1) 0%,
        rgba(31, 75, 80, 1) 100%
    );
}

.login-right-text-box {
    margin-top: 15%;
}

.login-container-right-text {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.364);
    color: #f8f8f8;
}

#login-container-right-main {
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.364);
    color: #f8f8f8;
}

.login-header {
    margin-top: 15%;
}

.form-container {
    margin-top: 20%;
}

#sign-in-btn {
    padding: 10px;
    margin-top: 40px;
    outline: none;
    border: none;
    background-color: rgba(65, 150, 161, 1);
    opacity: 0.8;
    color: #f8f8f8;
    cursor: pointer;
    font-family: "Raleway", "sans-serif";
    width: 100px;
    transition: 0.3s ease;
}

#sign-in-btn:hover {
    opacity: 1;
}

#sign-up-btn {
    color: rgba(65, 150, 161, 1);
    cursor: pointer;
    margin-top: 2em;
}

#Link {
    text-decoration: none;
}
#err-handling {
    margin-top: 15px;
    color: red;

    margin-bottom: -22px;
}

@media only screen and (max-width: 1750px) {
    .login-container-grid {
        width: 1000px;
        height: 650px;
    }
}
@media only screen and (max-width: 1450px) {
    .login-container-grid {
        width: 800px;
        height: auto;
    }

    #login-logo {
        height: 150px;
    }
}

@media only screen and (max-width: 800px) {
    .login-container-grid {
        width: 400px;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
